:root{
    --lightBackground: #cbcbcb;
    --darkBackground: #00030f;
    --lightText: #00030f;
    --darkText: #1976D2;
}

header{
    transition: all .2s linear;
    /* position: fixed; */
    top: 0px;
    /* width: 90%; */
    margin: 0 auto;
}

.header{
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightBackground);
}

.darkHeader{
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkBackground);
    color: var(--darkText);
}

.lightToggle{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.label{
    font-size: 1.3rem;
    font-weight: 500;
}

footer{
    position: absolute;
    bottom: 0;
    color: var(--lightBackground);
    background-color: var(--darkBackground);
    text-align: center;
    width: 100%;
    padding: 1rem 0;
}

footer a{
    color: inherit;
    text-decoration: none;
}